<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styling.css" type="text/css">
    <title>Userpage</title>
</head>
<body>

<div class="button-wrapper-right">
    <button class="button1" onclick="location.href='/userpage'" type="button">Back to User page</button>
</div>

<!--<div class="button-wrapper-right">
    <button class="button1" onclick="location.href='/mailto:vitaliy_serdyukov@hotmail.com'" type="button">Send list to e-mail</button>
</div>-->


<!--<form style="border: none" action="mailto:vitaliy_serdyukov@hotmail.com" method="GET">
    <input name="subject" type="text" value="This is a link to my Wishlist"/>
    <textarea name="body"></textarea>
    <input class="button1" type="submit" value="Send" />
</form>-->

<a th:href="@{/showWishlistGuest/{wishlistName}(wishlistName=${wishlist1.wishlistName})}">
    <img src="/images/eye2.png" alt="Eye">
</a>



<!--<td><a th:href="@{/showWishlist/{wishlistName}(wishlistName=${wishlist1.wishlistName})}">-->

<!--</a></td>-->
<!--<button onclick="location.href='mailto:em@i.l';">send mail</button>
<button><a href="mailto:..."></a></button>-->



<p> Her you can create an item for your Wishlist</p>

<form style="border: none" action="#" method="post" th:action="@{/addItem}" th:object="${item1}">
    <table>
        <thead>
        <tr>
            <th> Product name</th>
            <th> Price</th>
            <th> URL</th>
            <th> Description</th>
            <th> ACTION</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td> <input type="text" th:field="*{productName}"/></td>
            <td> <input type="text" th:field="*{price}"/></td>
            <td> <input type="text" th:field="*{url}"/></td>
            <td> <input type="text" th:field="*{description}"/></td>
            <td> <div class="button-wrapper-right">
                <button class="button1" onclick="location.href='/addItem'" type="submit">Add item</button>
            </div>
            </td>
        </tr>
    </table>
</form>

<p>Items in Wishlist: <b><span th:text="*{wishlistName}"/></b></p>

<table>
    <thead>
    <tr>
        <th> Product name</th>
        <th> Price</th>
        <th> URL</th>
        <th> Description</th>
        <th> ACTION</th>
    </tr>
    </thead>
    <tbody>
      <tr th:each="item1 : ${itemsOneList}">
        <td th:text="*{item1.productName}"></td>
        <td th:text="${item1.price}"></td>
        <td th:text="${item1.url}"></td>
        <td th:text="${item1.description}"></td>
        <td><a th:href="@{/deleteItem/{itemID}(itemID=${item1.itemID})}">
            <img src="/images/trashcan.png" alt="Trashcan">
        </a></td>
    </tr>
    </tbody>
</table>

</body>
</html>