<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styling.css" type="text/css">
    <title>Userpage</title>
</head>
<body>
<p><b> Congratulations, <span th:text = "${user1.firstName}" />! You have successfully logged in</b></p>

<div class="button-wrapper-right">
    <button class="button1" onclick="location.href='/logout'" type="button">Logout</button>
</div>

<table class="user-info">
    <thead>
    <tr><th>You are logged in as:</th></tr>
    </thead>
    <tbody>
    <tr>
        <td>Id</td>
        <td th:text="${user1.id}"></td>
    </tr>
    <tr>
        <td>Email</td>
        <td th:text="${user1.email}"></td>
    </tr>
    <tr>
        <td>Password</td>
        <td th:text="${user1.password}"></td>
    </tr>
    <tr>
        <td>Firstname</td>
        <td th:text="${user1.firstName}"></td>
    </tr>
    <tr>
        <td>Lastname</td>
        <td th:text="${user1.lastName}"></td>
    </tr>
    <tr>
        <td>Address</td>
        <td th:text="${user1.address}"></td>
    </tr>
    <tr>
        <td>Age</td>
        <td th:text="${user1.age}"></td>
    </tr>
    <tr>
        <td>Phone number</td>
        <td th:text="${user1.phoneNumber}"></td>
    </tr>
    </tbody>
</table>

<p> Her can you create an item for a Wishlist:</p>

<form style="border: none" action="#" method="post" th:action="@{/addItem}" th:object="${item1}">
<table>
    <thead>
    <tr>
      <!--  <th> Item ID</th>-->
        <th> Wishlist name</th>
        <th> Product name</th>
        <th> Price</th>
        <th> URL</th>
        <th> Description</th>

       <!-- <th> User email</th>-->
        <th> ACTION</th>
    </tr>
    </thead>
    <tbody>
    <tr>
       <!-- <td> <input type="text" th:field="*{itemID}"/></td>-->
        <td> <input type="text" th:field="*{wishlistName}"/></td>
        <td> <input type="text" th:field="*{productName}"/></td>
        <td> <input type="text" th:field="*{price}"/></td>
        <td> <input type="text" th:field="*{url}"/></td>
        <td> <input type="text" th:field="*{description}"/></td>

      <!--  <td> <input type="text" th:field="*{userEmail}"/></td>-->
        <td> <div class="button-wrapper-right">
            <button class="button1" onclick="location.href='/addItem'" type="submit">Add item</button>
        </div>
        </td>
    </tr>
</table>
</form>



<p> Her can you see all the items in all Wishlists of current User :</p>

<table>
    <thead>
    <tr>
      <!--  <th> Item ID</th>-->
        <th> Wishlist name</th>
        <th> Product name</th>
        <th> Price</th>
        <th> URL</th>
        <th> Description</th>

       <!-- <th> User email</th>-->
        <th> ACTION</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item1 : ${items}">
        <td th:text="${item1.wishlistName}"></td>
     <!--   <td th:text="${item1.productName}"></td>-->
        <td th:text="${item1.productName}"></td>
        <td th:text="${item1.price}"></td>
        <td th:text="${item1.url}"></td>
        <td th:text="${item1.description}"></td>

        <!--<td th:text="${item1.userEmail}"></td>-->
        <td><a th:href="@{/deleteItem/{itemID}(itemID=${item1.itemID})}">
            <img src="/images/trashcan.png" alt="Trashcan">
        </a></td>

    </tr>
    </tbody>
</table>


<p>Is session empty now?</p>
<p th:text="${session.isEmpty()}" th:unless="${session == null}">[...]</p>
</body>
</html>


<!--
<p> Her can you create  a Wishlist:</p>

<form style="border: none" action="#" method="post" th:action="@{/addItem}" th:object="${item1}">
    <table>
        <thead>
        <tr>
            <th> Wishlist name</th>
            <th> Wishlist owner email</th>
            <th> ACTION</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            &lt;!&ndash; <td> <input type="text" th:field="*{itemID}"/></td>&ndash;&gt;
            <td> <input type="text" th:field="*{productName}"/></td>
            <td> <input type="text" th:field="*{price}"/></td>
            <td> <input type="text" th:field="*{url}"/></td>
            <td> <input type="text" th:field="*{description}"/></td>

            &lt;!&ndash;  <td> <input type="text" th:field="*{userEmail}"/></td>&ndash;&gt;
            <td> <div class="button-wrapper-right">
                <button class="button1" onclick="location.href='/addItem'" type="submit">Add item</button>
            </div>
            </td>
        </tr>
    </table>
</form-->
