<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styling.css" type="text/css">
    <title>Userpage</title>
</head>
<body>
<p><b> Congratulations, <span th:text = "${user1.firstName}" />! You have successfully logged in</b></p>

<div class="button-wrapper-right">
    <button class="button1" onclick="location.href='/logout'" type="button">Logout</button>
</div>



<table class="user-info">
    <thead>
    <tr><th>You are logged in as:</th></tr>
    </thead>
    <tbody>
    <tr>
        <td>Id</td>
        <td th:text="${user1.id}"></td>
    </tr>
    <tr>
        <td>Email</td>
        <td th:text="${user1.email}"></td>
    </tr>
    <tr>
        <td>Password</td>
        <td th:text="${user1.password}"></td>
    </tr>
    <tr>
        <td>Firstname</td>
        <td th:text="${user1.firstName}"></td>
    </tr>
    <tr>
        <td>Lastname</td>
        <td th:text="${user1.lastName}"></td>
    </tr>
    <tr>
        <td>Address</td>
        <td th:text="${user1.address}"></td>
    </tr>
    <tr>
        <td>Age</td>
        <td th:text="${user1.age}"></td>
    </tr>
    <tr>
        <td>Phone number</td>
        <td th:text="${user1.phoneNumber}"></td>
    </tr>
    </tbody>
</table>



<p> Her can you create or see available Items:</p>



<form action="#" method="post" th:action="@{/addItem}" th:object="${item1}">
    <input type="text" th:field="*{itemID}"
           value="Product Name"/>
    <input type="text" th:field="*{productName}"
           value="Product Name"/>
    <input type="text" th:field="*{price}"
           value="Price"/>
    <input type="text" th:field="*{url}"
           value="Url"/>
    <input type="text" th:field="*{description}"
           value="Description"/>
    <input type="text" th:field="*{wishlistNumber}"
           value="WishlistNumber"/>
    <input type="text" th:field="*{userEmail}"
           th:name="UserEmail"/>

    <input type="submit" value="Submit item"/>
</form>


<table>
    <thead>
    <tr>
        <th> Item ID</th>
        <th> Product name</th>
        <th> Price</th>
        <th> URL</th>
        <th> Description</th>
        <th> Wishlist number</th>
        <th> User email</th>
        <th> ACTION</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td> <input type="text" th:field="*{item1.itemID}"/></td>
        <td> <input type="text" th:field="*{item1.productName}"/></td>
        <td> <input type="text" th:field="*{item1.price}" placeholder="333"/></td>
        <td> <input type="text" th:field="*{item1.url}" placeholder="444"/></td>
        <td> <input type="text" th:field="*{item1.description}" placeholder="555"/></td>
        <td> <input type="text" th:field="*{item1.wishlistNumber}" placeholder="666"/></td>
        <td> <input type="text" th:field="*{item1.userEmail}" placeholder="777"/></td>
       <!-- <td> <a th:href="@{/addItem}" th:object="${item1}">Add item</a></td>-->
        <td><a th:href="@{/iddItem/{id}(id=${item1})}">Add item</a></td>>
       <!-- <td> <input type="submit" value="Add item" action = th:action="@{/addItem}" th:object="${item1}"/>-->
        <!--    th:href="@{'/category/'+ ${item.idCategory}}"-->
 <!--      <td> <a th:href="@{/showFormForUpdate/{id}(id=${item.itemID})}" class="btn btn-primary">Update</a>-->
        <!--  <a th:href="@{/deleteItem/{itemID}(itemID=${item.itemID})}" class="btn btn-danger">Delete item</a>-->

</table>


<table>
    <thead>
    <tr>
        <th> Item ID</th>
        <th> Product name</th>
        <th> Price</th>
        <th> URL</th>
        <th> Description</th>
        <th> Wishlist number</th>
        <th> User email</th>
        <th> ACTION</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item1 : ${items}">
        <td th:text="${item1.itemID}"></td>
        <td th:text="${item1.productName}"></td>
        <td th:text="${item1.price}"></td>
        <td th:text="${item1.url}"></td>
        <td th:text="${item1.description}"></td>
        <td th:text="${item1.wishlistNumber}"></td>
        <td th:text="${item1.userEmail}"></td>
        <!--    <td> <a th:href="@{/showFormForUpdate/{id}(id=${item.itemID})}" class="btn btn-primary">Update</a>-->
        <!--  <a th:href="@{/deleteItem/{itemID}(itemID=${item.itemID})}" class="btn btn-danger">Delete item</a>-->
        </td>
    </tr>
    </tbody>
</table>

<p>Is session empty now?</p>
<p th:text="${session.isEmpty()}" th:unless="${session == null}">[...]</p>
</body>
</html>

<!--<form name="addItem" action="/addItem" method="POST">
    Product name:<br>
    <input type="text" name="productName">
    <br>
    Price:<br>
    <input type="text" name="price">
    <br>
    Url:<br>
    <input type="text" name="url">
    <br>
    Description:<br>
    <input type="text" name="description">
    <br>
    Wishlist number:<br>
    <input type="text" name="wishlistNumber">
    <br>
    User email:<br>
    <input type="text" name="userEmail">
    <br>

    <div class="button-wrapper-left">
        <button class="button1" type="submit">Add item</button>
    </div>
</form>-->
